.rmageddon{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

 .rmageddon div{
    height: auto;
    width: 40%;
} 

.R2 img {
    width: 70%;
}
