.games-parentdiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-maindiv{
  width: 75%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.gameheading{
  font-size: 2rem;
  font-family: 'Wallpoet';
  color: white;
}

.games-images{
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.games-image{
  height: 100%;
}

.games-images button {
  height: 40px;
  width: 40px;
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  color: white;
  border: 1px solid white;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  box-shadow: 0px 0px 30px 2px #99C7F4;
}

.games-bottom{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.games-heading{
  width: 100%;
  font-family: 'Wallpoet';
  font-size: 1.3rem;
  color: #99c7f4;
}

.games-content{
  position: relative;
  width: 80%;
  height: 200px;
  font-family: 'JetBrains Mono';
  font-size: 0.8rem;
  color: #BABABA;
  text-align: justify;
}

.games-buttons {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.games-buttons button, .games-message button {
  width: 150px;
  height: 40px;
  background-color: #99C7F4;
  color: #262626;
  font-size: 1rem;
  font-family: 'JetBrains Mono', monospace;
  border: none;
  clip-path: polygon(0 0, 85% 0, 100% 40%, 100% 100%, 15% 100%, 0 60%);
}

.games-message {
  width: 100%;
  max-width: 500px;
  height: 300px;
  font-size: 1rem;
  color: #BABABA;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  background-color: #111111;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 10px 10px black;
}


@media (max-width : 1200px) {
  .games-parentdiv {
    height: auto;
  }
  .games-maindiv {
    width: 100%;
    height: auto;
    background-color: #111111;
  }
  .gameheading {
    width: 100%;
    text-align: center;
  }
  .games-images {
    width: 100%;
    height: 300px;
  }
  .games-heading {
    text-align: center;
  }
  .games-content {
    width: 80%;
    max-width: 500px;
  }
  .games-buttons {
    max-width: 500px;
    margin-bottom: 100px;
  }
}

@media (max-width : 450px) {
  .games-images {
    height: 200px;
  }
}

@media (max-width : 400px) {
  .games-buttons {
    width: 100%;
    flex-direction: column;
    height: 100px;
  }
}