<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <div class="all">
        <div class="footer">
            <a href="#About ">About</a>
            <a href="#Privacy">Privacy</a>
            <a href="#T&C">T&C</a>
            <div class="main">
                <a href="#RNXG"><b><h1>RNXG</h1></b></a></div>
            <a href="#Events">Events</a>
            <a href="#Projects">Projects</a>
            <a href="#Walloflove">Wall of love</a>
        </div>



        <div class="border " style="border-bottom: 3px solid black "></div>
        <div class="icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-solid fa-arrow-up"></i>
        </div>
        <div class="email">
            <a href="https://mail.google.com/mail/u/0/?fs=1&to=rnxg@sggs.ac.in&tf=cm">rnxg@sggs.ac.in</a>
        </div>
        <div class="container3">
            <a href="https://www.sggs.ac.in/"><img rel="preload" width="120" src="https://ik.imagekit.io/wqweoudym/sggsBlack_w3lWNe4AS.png?ik-sdk-version=javascript-1.4.3&amp;updatedAt=1651499476996" alt=""></a>
            <p id="copyright">© 2022, Rnxg . All Rights Reserved.</p>
        </div>
    </div>
</body>

</html>