.nav{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
}

.nav div{
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.bar{
    width: 30%;
    display: flex;
    align-items: center;
}

.left{
    justify-content: space-evenly;
}

.middle{
    justify-content: center;
}

.right{
    justify-content: end;
}

.button{
    background-color: black;
    border-radius: 1.5rem;
}

#text{
    color: white;
}
   
    

