.notifications {
    width: 100vw;
    height: 100vh;
}

.notiDiv {
    width: 75%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.notins {
    margin: 100px 0;
    width: 90%;
    height: 30%;
    overflow-x: hidden;
    overflow-y: auto;
}

.notinfo {
    margin: 50px 0px;
    width: 70%;
    height: 25%;
    color: #bababa;
    font-family: 'JetBrains Mono';
}

.notihead {
    width: 90%;
    font-size: 50px;
    margin: 0;
    font-family: 'Wallpoet';
}

.message {
    right: 0;
    left: 0;
    width: 90%;
    height: auto;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 25px;
}

.message p:first-of-type {
    font-size: 30px;
    margin-bottom: 0;
    font-family: 'Wallpoet';
}

.message p:last-of-type {
    font-size: 13px;
    font-family: 'JetBrains Mono';
    color: #bababa;
}

.mesBut {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mesBut button {
    width: 150px;
    height: 30px;
    background-color: #95c5f4;
    border: none;
    clip-path: polygon(0 2%, 85% 1%, 100% 100%, 15% 100%);
    color: #262626;
    margin: auto 10px;
}

@media (max-width : 1200px) {
    .message {
        width: 80%;
    }
    .notins {
        width: 80vw;
        height: 35vh;
    }
    .notihead {
        font-size: 35px;
        text-align: center;
    }
    .notifications {
        height: auto;
    }
    .notiDiv {
        position: relative;
        margin: 0;
        width: 100%;
        height: auto ;
        background-color: #111111;
        /* background-image: url("../../images/Slice_1-removebg-preview.png");
        background-repeat: no-repeat;
        background-size: 100% 100%; */
    }
}

@media ( max-width : 400px ) {
    .notihead {
        margin-top: 100px;
    }
}