body {
    overflow-x: hidden;
    background-image: url("./Components/Images/imag7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.introdiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

 .introdiv div{
    height: auto;
    width: 40%;
} 

.R2 img {
    width: 70%;
}
