body{
    padding:0;
    margin: 0;
    background-color: #111111;
    overflow-x: hidden;
}
.parentdiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#background{
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: -999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   
}
.maindiv{
    width: 75%;
    height: 95%;
}

.heading{
    font-family: 'Wallpoet';
    color: white;
    font-size: 23px;
    width: 63%;
    height: 7%;
    position: static;
    top: 3%;
    left: -1%;
    
    
}
.subheading{
    color: white;
    position: absolute;
    width: 70%;
    height: 50%;
   
    left: 17%;
}

.first{
    width: 95%;
    height: 28%;
    position: absolute;
    top: 7%;
    font-family: 'JetBrains Mono';
   
}
h3{
    font-size: 20px;
    color: #99C7F4;
}
h4{
    font-size: 16px;
    color: #bababa;
}
.content1{
    width: 100%;
   
    position: absolute;
    top: 23%;
    display: block;
}

.second{
    width: 85%;
    height: 28%;
    position: absolute;
    top: 30%;
    font-family: 'JetBrains Mono';
   
}
.content2{
    width: 110%;
    position: absolute;
    top: 22%;
   
}
hr{
    position: absolute;
    width: 20%;
    top: 68%;
}
.third{
    width: 75%;
    height: 28%;
    position: absolute;
    top: 60%;
    font-family: 'JetBrains Mono';
   
}
.content3{
    width: 125%;
    position: absolute;
    top: 25%;
}
@media (min-width:645px) and (max-width:940px)
{
    h3{
        font-size: 17px;
    }
    h4{
        font-size: 13px;
    }
    .heading{
        font-size: 20px;
    }
}
@media (max-width:550px)
{
    #background{
        display: none ;
    }
}
@media (min-width:551px) and (max-width:644px)
{
    h3{
        font-size: 15px;
    }
    h4{
        font-size: 11px;
    }
    .content1{
        width: 90%;
    }
    .content2{
        width: 100%;
    }
    .content3{
        width: 113%;
    }
    .heading{
        font-size: 18px;
    }
}
@media (max-width:550px)
{
    .heading{
        font-size: 15px;
    }
    h3{
        font-size: 13px;
    }
    h4{
        font-size: 9px;
    }
    .first,.second,.third{
       
        left: 1%;
    }
}
@media (max-width:290px)
{
    .first{
        top: 16%;
    }
    .text1{
       
        width: 120%;
    }
    .text2{
        
        width: 130%;
    }
    .text3{
       
        width: 150%;
    }
    .second{
        top: 48%;
    }
    .third{
        top: 88%;
    }
}
@media (max-width:190px)
{
    .second{
        /* border: 2px solid white; */
        top: 58%;
        
    }
    .third{
        top: 118%;
    }
    .content1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        top: 30%;
    }
    .content2{
        top: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .content3{
        top: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}
