.heropage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.heropage div {
    width: 30%;
    height: auto;
}

.heroleft {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 25px;
    backdrop-filter: blur(2px);
}

.heroleft h1 {
    font-size: 50px;
    font-weight: 500;
}

.heroleft button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.heroright img {
    width: 100%;
}