/* body{
    background-color: black;
} */
.introdiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* color: whitesmoke; */
}

 .introdiv div{
    height: auto;
    width: 40%;
} 

.R1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 25px;
    backdrop-filter: blur(2px);
}

.R2 img {
 width: 70%;
}
/* h1 {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  } */